body{
    //background: url("../images/arti-bg.PNG") center;
    //bacgkround-repeat:repeat-x;
}


#header{
    font-family: "Futura", "Avenir", "Helvetica Nueue";
    background-color:#2b303b;
    padding:10px;
    height:350px;
    background: url("../images/renovatie-flat.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#header-img{

}

.container-full{
    margin: 0 auto;
    min-width:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    background-image: url("../images/arti-bg.png") center;

}

#header h1{
    font-size:xx-large;
    text-align: center;
    font-family: "Futura", "Avenir", "Helvetica Neue", Helvetica, sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-size: 45pt;
    font-weight: 900;
    margin: 30px 0px 30px 0px;
    padding: 20px;
    border: 2px solid #fff;
    background-color: #3a404c;
    display: block;
    text-decoration: none; 
}

.v-center{
    margin-top: 7%;
}

.arti_thumb, .thumbnail{
    min-height: 100px;
    width:150px;
}

#inhabitants{
    padding-top:3%;
}

#main-content{
    color:#999;
    border-bottom: 2px solid #eadfd2;
}   

#chapter-title{
    border-bottom : 2px solid #eadfd2;
    color:black;
}

#footer{
    background-color:#2e3234;
    min-height:200px;
    color:#999;
    font-size:x-small;
    padding:30px;
    font-style:italic;
}