body {
  background-color: rgb(210,231,240);
}

.nav {
  margin-left: 33%;
}

/* Custom navbar */

.nav-custom {
  min-width: 100%;
  z-index: 100;
  border: none;
  background-color: rgb(235,235,235);
  font-size: 1.1em;
  letter-spacing: 5px;
  font-family: "Adobe Garamond Pro";
}

.nav-item {
  cursor: pointer;
  background-color: rgb(235,235,235);
}

/* Fix so for navbar-nav & nav-justify work together */

.navbar-nav.nav-justified > li {
  float: none;
}

#header {
  background: url("../images/header.png") no-repeat center;
  background-size: cover;
}

.main-content,
.hoofdstukken-overview {
  color: #999;
  background-color: rgb(244,244,244);
  border-bottom: 2px solid #eadfd2;
  padding: 0px;
  max-width: 100%;
}

.hoofdstukken-overview {
  margin-top: 2%;
  margin-left: 13%;
  box-shadow: 4px 4px 1px #5c5a5a;
}

.main-content-header,
.hoofdstuk-header {
  background-color: rgb(201,217,170);
  max-width: 100%;
  height: 120px;
  max-width: 100%;
}

.main-content > h2,
.hoofdstukken-overview > h2 {
  color: #414141;
  font-style: italic;
  text-align: center;
  padding-top: 25px;
  letter-spacing: 1.5px;
}

.hoofdstukken-overview > h2 {
  font-size: 1.2em;
}

.content-header-image,
.hoofdstuk-header-image {
  position: relative;
  left: 45%;
  -webkit-transform: translateY(55%);
  transform: translateY(55%);
  width: 100%;
  max-width: 100px;
  max-height: 100px;
}

.main-content-text,
.hoofdstuk-text {
  padding: 50px;
  padding-top: 0px;
  margin-top: 2%;
}

.hoofdstuk-text {
  padding: 30px;
  padding-top: 10px;
}

#footer {
  background-color: #2e3234;
  min-height: 200px;
  color: #999;
  font-size: x-small;
  padding: 30px;
  font-style: italic;
  max-width: 100%;
  margin-top: 5%;
}

#chapter-title {
  color: black;
  font-size: 2.0em;
}

/* Custom, iPhone Retina */

@media only screen and (min-width : 320px) {
  #header {
    height: 50vw;
  }

  .main-content {
    text-align: justify;
  }

  .hoofdstuk-header-image {
    left: 40%;
    -webkit-transform: translateY(90%);
    transform: translateY(90%);
    max-width: 80px;
    max-height: 80px;
  }
}

/* Extra Small Devices, Phones */

@media only screen and (min-width : 480px) {
  .main-content {
    font-size: 1.5em;
  }

  .content-header-image {
    position: relative;
    left: 44%;
    -webkit-transform: translateY(90%);
    transform: translateY(90%);
    width: 100%;
    max-width: 80px;
    max-height: 80px;
  }

  .hoofdstuk-header-image {
    left: 45%;
    -webkit-transform: translateY(90%);
    transform: translateY(90%);
    max-width: 80px;
    max-height: 80px;
  }
}

/* Small Devices, Tablets */

@media only screen and (min-width : 768px) {
  #header {
    height: 50vh;
  }

  .content-header-image {
    position: relative;
    left: 44%;
    -webkit-transform: translateY(90%);
    transform: translateY(90%);
    width: 100%;
    max-width: 80px;
    max-height: 80px;
  }

  .hoofdstuk-header-image {
    left: 38%;
    -webkit-transform: translateY(90%);
    transform: translateY(90%);
    max-width: 80px;
    max-height: 80px;
  }
}

/* Medium Devices, Desktops */

@media only screen and (min-width : 992px) {
  .content-header-image {
    position: relative;
    left: 44%;
    -webkit-transform: translateY(65%);
    transform: translateY(65%);
    width: 100%;
    max-width: 100px;
    max-height: 100px;
  }

  .main-content {
    font-size: 1.2em;
  }

  .hoofdstuk-header-image {
    left: 40%;
    -webkit-transform: translateY(90%);
    transform: translateY(90%);
    max-width: 80px;
    max-height: 80px;
  }
}

/* Large Devices, Wide Screens */

@media only screen and (min-width : 1200px) {
  .container-full {
    margin: 0 auto;
    min-width: 100%;
    background-size: cover;
    background-image: url("../images/arti-bg.png") center;
  }

  #header h1 {
    text-align: center;
    font-family: "Futura", "Avenir", "Helvetica Neue", Helvetica, sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-weight: 900;
    margin: 50px 0px 30px 0px;
    padding: 20px;
    border: 2px solid #fff;
    background-color: #3a404c;
    display: block;
    text-decoration: none;
    font-size: 5.5vh;
  }

  .v-center {
    margin-top: 7%;
  }

  .main-content {
    font-size: 1.55em;
  }

  .main-content-header {
    height: 120px;
  }

  .hoofdstuk-header-image {
    left: 37%;
    -webkit-transform: translateY(90%);
    transform: translateY(90%);
    max-width: 80px;
    max-height: 80px;
  }
}