<div class="row" id="footer">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <p id="inhabitant-info" class="text-center">
            <u>eerste etage</u>:frank zappa marilyn monroe chet baker brian Jones janis joplin erik satie marlene dietrich freddy mercury josephine baker 

            herbert von karajan glenn miller otis redding <u>tweede etage</u>:johann strauss jimi hendrix billie holiday edith piaf mahalia jackson jim 

            morrison andy warhol bob marley buddy holly scott joplin toulouse lautrec <u>derde etage</u>:jaques brel maria callas lucy ball alma mahler 

            nannerl mozart fanny mendelssohn camille claudel james dean laverne andrews <u>vierde etage</u>:louis armstrong john lennon miles davis 

            salvadore dali antonio vivaldi franz liszt george sand maurice ravel berthe morisot <u>vijfde etage</u>:elvis presley charlie chaplin frida kahlo 

            bessie smith kurt weil nijinski vaslav clara wieck claude debussy <u>zesde etage</u>:anton bruckner felix mendelssohn robert schumann johannes 

            vermeer antoni gaudi bela bartok <u>zevende etage</u>:dmitrie sjostakowitsj george gershwin george fr handel vincent van gogh gustav mahler 

            guiseppe verdi <u>achtste etage</u>:pablo picasso igor strawinsky leonard bernstein rembrandt van rijn franz schubert negende etage:js bach 

            wolfgang von goethe ludwig van beethoven wolfgang amadeus mozart
        </p>
    </div>
</div>