<div class="row" id="header">
    <div class="col-xs-12" id="header-img">
        
    </div>
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li class="active"><a ng-href="#">Home</a></li>
            <li><a ng-href="#">Over</a></li>
            <li><a ng-href="#">Contact</a></li>
        </ul>
    </div>
    <div class="col-md-4 col-md-offset-4 text-center v-center">
        <h1>DE ARTIFLAT</h1>
    </div>
</div>

<!--
<div class="row" id="inhabitants">
   <div class="col-sm-6 col-md-3 col-md-offset-2">
      <div class="thumbnail">
         <img src="images/monroe.jpg" 
         alt="Generic placeholder thumbnail">
      </div>

   </div>
   <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
         <img src="images/vangogh.jpg" 
         alt="Generic placeholder thumbnail">
      </div>
   </div>
   <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
         <img src="images/sjostakovitsj.jpg" 
         alt="Generic placeholder thumbnail">
      </div>
   </div>
</div>
-->