<div class="row" id="header">
 </div>
<nav class="navbar navbar-default nav-custom" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#navbar-collapse-1">
            <span class="sr-only">Navigatie aan/uit</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav ">
            <li><a class="nav-item" href="/">Het Verhaal</a></li>
            <li><a class="nav-item" href="/#/hoofdstukken">De Hoofdstukken</a></li>
            <li><a class="nav-item" href="/">Proloog</a></li>
        </ul>
    </div>
</nav>
