<div ng-include="'views/header.html'"></div>

<div class="row">
	<div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4" id="hoofdstukken-overview">
		<h1 class="lead" id="chapter-title">Proloog</h1>
        <p>Dit is het verhaal van de Artiflat, een kunstenaarsflat in het noorden van Johannesburg, een grote 

            stad in het hiernamaals. Negen verdiepingen telt de flat met tweeënzeventig appartementen. Bovenaan 

            vier reusachtige penthouses, onderaan twaalf piepkleine appartementjes. Hoe hoger je komt, des te 

            voornamer de bewoners en des te groter hun onderkomens en inkomens. Lieden van allerlei slag wonen 

            er: klassieke componisten, kunstschilders, dichters, een balletdanser, een beeldhouwster, zangers en 

            zangeressen, popmuzikanten, twee dirigenten, acteurs en zo verder. 
        </p>
	</div>
</div>

<div ng-include="'views/footer.html'"></div>