<div ng-include="'views/header.html'"></div>

<div class="row">
<div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 main-content">
        <div class="main-content-header">
            <img src="../images/sjors.png" class="content-header-image"/>
        </div>
        <h2>Proloog</h2>
        <div class="main-content-text">
            <p>Dit is het verhaal van de Artiflat, een kunstenaarsflat in het noorden* van Johannesburg, een grote 

                stad in het hiernamaals. Negen* verdiepingen telt de flat met tweeënzeventig appartementen. Bovenaan 

                vier reusachtige penthouses, onderaan twaalf piepkleine appartementjes. Hoe hoger je komt, des te 

                voornamer de bewoners en des te groter hun onderkomens en inkomens. Lieden van allerlei slag wonen 

                er: klassieke componisten, kunstschilders, dichters, een balletdanser, een beeldhouwster, zangers en 

                zangeressen, popmuzikanten, twee dirigenten, acteurs en zo verder. 
            </p>
            <p>
                Op de begane grond wonen drie 

                purgatijnen, zielen gevlucht of vrijgelaten uit het vagevuur, het purgatorium: Wigbert, de barkeeper van 

                café de Nadorst, huismeester Smit met zijn hondje Lodewijk en juffrouw Annette, de beheerster van 

                de wasserette. Op de uiterste hoek links, naast de entree, bevindt zich café de Nadorst, een geliefde 

                plek voor menig Artibewoner. Aan de andere zijde van de entree het winkeltje van de huismeester, met 

                daarachter het pianokamertje, de oefenruimte bedoeld voor bewoners van de lagere etages en tevens 

                onderkomen van het vrouwenkoortje de ‘Dames van de Derde’, met daar weer naast de schilderszaal. 

                Aan de voorzijde rechts de woonruimtes van de drie purgatijnen, met op de uiterste hoek van de flat de 

                wasserette van juffrouw Annette. 
            </p>
            <p>

                We bevinden ons in de hemel, de zevende hemel wel te verstaan, met als hoofdstad Sint-
                Petrusburg, een miljoenenstad, een stad met allure, een stad waar alles mag maar niets hoeft, een stad 

                waar honderdduizenden ex-purgatijnen hun toevlucht hebben gezocht, de stad van burgemeester zuster 

                Florence Nightingale. Andere grote steden zijn Voorstad Sint-Jacoba, ook wel de Bloemenstad genoemd, 

                met als burgemeester de jonge Anne Frank, verder Mozestown, Holy City en Johannesburg, waar zich dit 

                verhaal grotendeels afspeelt en waar burgemeester mevrouw moeder Teresa de scepter zwaait.

            </p>
            <p>
                Het weer in het hiernamaals is altijd gunstig. Elke dag zon, met een strelend briesje. Wat dat 

                aangaat is het goed toeven in de hemel. De zielen op de Arti leiden ogenschijnlijk een rustig en 

                zorgeloos leven. Zij hebben weinig ongerief te vrezen. Geen angst voor een atoomoorlog, geen 

                kankergedoe, geen aidsellende en wat zo meer. Kondigt zich toch nog een gebrek aan, of zeurt er een 

                aardse ziekte door, dan is daar nog de weg naar het Sint-Lukashospitaal waar men het één en ander 

                kan laten herstellen. Eens in de maand rijdt er door alle windstreken een busje richting het hospitaal, 

                nabij het Voorportaal, niet ver van Sint-Petrusburg. 
            </p>
            <p>

                Het mag dan wel het hiernamaals zijn, toch is het lang niet allemaal rozengeur en maneschijn 

                wat de klok slaat. De straten zijn er niet van goud en de poorten niet met edelstenen bedekt, zoals de 

                Bijbel ons doet geloven. Sterker nog, lang niet iedereen op de Artiflat heeft het optimaal naar zijn zin. Zo 

                wordt er soms flink gemopperd, zelfs gevloekt, er wordt gescholden en gehuild. Ja, sommigen zitten 

                dikwijls diep in de put. 
            </p>
            <p>
                Op de onderste etages klaagt men voortdurend over de geringe afmetingen van 

                de appartementjes en het minimummaandgeld van honderd zilverlingen. Enkele bewoners staan zelfs op 

                het punt om overplaatsing aan te vragen naar één van de kunstenaarsflats in een andere stad, 

                bijvoorbeeld De toren van Babel in Sint-Petrusburg of de Kunst- en Cultuurflat in Holy City, beter bekend 

                als de KuKu-flat.
            </p>
        </div>
    </div>
</div>
<br />
<div ng-include="'views/footer.html'"></div>